@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');

/* TODO: Make css mobile first */

/* 
 *
 * Document Elements
 *
 */
html {
	position: relative;
	min-height: 100%;
}

body { 
    font-family: 'Open Sans', sans-serif;
	background: #ffffff;
    /*
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
	margin-bottom: 60px;
}

h1 {
    color:#000000;
    font-size:40px;
}

hr {
	color:#dbdbdb;
	border-top: 1px solid #dbdbdb !important;
}

/* 
 *
 * Navbar
 *
 */

/* Custom class for animations */
.animated {
    animation-duration: 2s !important;
}

ul.nav {
	background-color: rgba(25,25,25,.8);
	list-style-type: none;
	width: 100%;
	position: fixed;
	z-index: 9999;
    margin: 0;
    padding: 0;
    overflow: hidden;
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	/*Adds a smooth transition from transparant to white*/
    transition: background-color 0.5s ease !important;
}

ul.nav li.navbutton {
	float: left;
}

/* Link colors */
ul.nav a{
	color: #1ab188;
}

ul.nav a:hover{
	color: #1ab188;
}

/* Expandable Menu button */
ul.nav li.navicon a {
	padding-top: 25px;
	padding-bottom: 10px;
	/*padding-left: 25px;*/
	/*padding-right: 25px;*/
	display: none;
	font-size: 2em;
}

ul.nav li.navicon a:hover{
	color: #1ab188;
}

.logo {
	margin-right: auto;
}

/* For mobile screens, remove all of the nav links and replace it with a expandable menu button. */
@media only screen and (max-width:800px) {
	ul.nav li:not(:last-child) {
		 display: none;
	}
	ul.nav li.navicon a{
		float: right;
		display: flex;
	}
	ul.nav li.navicon {
		float: left;
		display: flex;
	}
}

/* The actual responsive menu classes */
@media only screen and (max-width:800px) {
	ul.nav.responsive{
		position: absolute; 
		flex-direction: column;
		display: flex;
	}
	ul.nav.responsive li.navicon a{
		position: absoulte;
		right: 0;
		top: 0;
		width: 100%;
	}
	ul.nav.responsive li {
		float: none;
		display: inline-block;
	}
	ul.nav.responsive li a{
		display: block;
		text-align: left;
		padding-bottom: 25px;
	}
}

.header_push {
    height: 80px;
}

/* Old navbar code */
/*.header {
    z-index:42;
    position:fixed;
    background-color: rgba(25,25,25,.8);
    margin:0;
    padding:0;
    /*Adds a smooth transition from transparant to white
    transition: background-color 0.5s ease !important;
}*/

/* 
 *
 * Footer 
 *
 */

footer{
	position:absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px !important;
    padding: 20px 0px 5px 10px;
    background-color:rgba(255,255,255,1);
}

.footer-correction{
	margin-bottom: 70px !important;
}

.footer-muted {
	background-color:#e5e5e5;
}

/* 
 *
 * Main Content
 *
 */
.mainbackground {
	background-image: url('/images/HomeBG171.jpg') !important;
  	background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
	background-position: center;
	/*-webkit-filter: blur(3px);
  	-moz-filter: blur(3px);
  	-o-filter: blur(3px);
  	-ms-filter: blur(3px);
  	filter: blur(3px);*/
}

/* Adds spacing between header and first box on index.php */
.main-top-padding{
    padding: 175px 0px 225px;
}

.scouting-top-padding{
    padding: 150px 0px 100px;
}

/* Floating box in center */
.main-center-float{
    text-align:center;
    background-color: rgba(245, 245, 246, 0.901961);
    padding: 30px 15px;
    border: 5px solid #ffffff;
    margin: 0px 0px 10px 0px;
}

.signup-button{
    font-size: 20px;
    margin: 5px;
}

.no-border-button{
    border-radius: 0px !important;
}

/*.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}

.content-2 {
	z-index: 40;
}

.content-bg {
    color: white;
    background-color: rgba(0, 66, 0, 0.7);
    background-size: contain;
}*/

/*Section classes and individual properties for each panel*/
.section {
    padding: 15px 0px;
    background-color:rgba(255,255,255,.9);
    text-align: center;
}

.section.mini-panel1{
    padding: 25px 0px;
    background-color:rgba(127, 174, 104,1);
    color:#ffffff;
}

.iconlinks {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: center;
	padding: 0px 5px;
}

.section.panel1{
    color: blue;
    height:650px;
    background-image:url('/images/IMG_0384.JPG');
    background-repeat: no-repeat;
    background-size:  cover;
	background-position: center;
    -webkit-box-shadow: -1px -6px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: -1px -6px 10px 0px rgba(0,0,0,0.5);
    box-shadow: -1px -6px 10px 0px rgba(0,0,0,0.5);
}

.section.panel2{
    background-color:rgba(255,255,255,1);
    padding: 30px 0px 90px 0px;
    -webkit-box-shadow: inset -1px 6px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset -1px 6px 10px 0px rgba(0,0,0,0.5);
    box-shadow: inset -1px 6px 10px 0px rgba(0,0,0,0.5);
}

.section.panel3{
    /*background-image:url('/media/nightcity.jpg');
    background-repeat: no-repeat;
    background-size:  cover;*/
    /*-webkit-box-shadow: inset -1px -6px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset -1px -6px 10px 0px rgba(0,0,0,0.5);
    box-shadow: inset -1px -6px 10px 0px rgba(0,0,0,0.5);*/
}

.panel3 {
	padding:40px 0px;
	background-color:rgba(25,25,25,0);
	text-align: center;
}

/* Scouting UI */

.scouting-background3 {
	background-color:#e5e5e5;
}

.scouting-background{
	background-image: url('/images/winning-team.jpg') !important;
  	background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:-1;
	-webkit-filter: blur(3px);
  	-moz-filter: blur(3px);
  	-o-filter: blur(3px);
  	-ms-filter: blur(3px);
  	filter: blur(3px);
}

.scouting-background2{
	background-image: url('/images/FTCrobotics.jpg') !important;
  	background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:-1;
	-webkit-filter: blur(3px);
  	-moz-filter: blur(3px);
  	-o-filter: blur(3px);
  	-ms-filter: blur(3px);
  	filter: blur(3px);
}

.scouting-button{
    font-size: 30px;
	width: 100%;
    margin: 5px;
}

.editform {
	background-color: #e5e5e5;
	padding: 0px 20px 30px;
	border-radius: 5px;
}

.scouting-buttons {
	background-color: #e5e5e5;
	/*padding: 0px 20px;
	border-radius: 5px;*/
}

.teamform {
	text-align: left;
	font-size: 20px;
}

table, th, .teamlabel {
	padding-right: 20px;
}

table, .teamtable {
	font-size: 18px;
}

.teamedit {
	font-size: 18px;
}

.teamedit-text {
	vertical-align: top;
}

.teamedit-input {
	margin: 5px 0px 10px;
	font-size: 20px !important;
	width: 100%;
}

.teamedit-checkbox {
	width: 20px !important;
	height: 20px !important;
}

.teamedit-btn {
	width: 100% !important;
}

.teamsearch-input {
	margin: 5px 0px 10px;
	font-size: 20px !important;
	width: 100%;
}

.teamsearch-checkbox {
	width: 20px !important;
	height: 20px !important;
}

.teamsearch-btn {
	width: 100% !important;
}

.teamedit-textarea {
	width: 100%;
	height: 200px;
}

.teamheading {
	font-weight:bold;
}

.teamsearch-padding {
	border-spacing: 5px;
	padding: 0px 5px;
}

@media screen and (min-width:680px) {
	.teamedit-label {
		padding-right: 50px;
	}

	.teamedit-input {
		margin: 5px 0px 10px;
		width: 800px;
	}
	
	.teamsearch-btn {
		width: 810px !important;
	}
	
	.teamsearch-label {
		padding-right: 50px;
	}

	.teamsearch-input {
		margin: 5px 0px 10px;
		width: 400px;
	}
	
	.teamedit-btn {
		width: 800px !important;
	}
	
	
	.teamedit-textarea {
		width: 800px;
		height: 200px;
	}
}

/*
#scout2{
	background-color:rgba(127, 174, 104,1) !important;
	border-color: rgba(127, 174, 104,1) !important;
}

#scout3{
	background-color:rgba(236, 100, 100, 1) !important;
	border-color: rgba(236, 100, 100, 1) !important;
}

#scout4{
	background-color:rgba(141, 91, 242, 1) !important;
	border-color:rgba(141, 91, 242, 1) !important;
}*/

/* Special Classes */

.center{
    text-align: center;
	display: flex;
	justify-content: center;
}

.re-center {
	padding-left: 56px;
}

.clearfix{
    overflow: auto;
}

.full-cover {
    margin:0px;
    padding:0px;
}

.no-center{
    text-align:justify !important;
}

.img-circle {
	transition: all .2s ease-in-out;
}

.img-circle:hover {
	transform: scale(1.1);
}

.img-logo {
	object-fit: scale-down;
}

.right {
    position: absolute;
    right: 10px;
}

.text-white {
	color:#ffffff;
}

.add-btn {
	width: 100% !important;
}

.edit-input {
	width: 100%;
}

/* Other stuff */
.required {
	color:red;
	font-size:1.5em;
}

.error {
	color:red;
}

input[aria-invalid="true"],
textarea[aria-invalid="true"]
{
  border:1px solid #f00;
  box-shadow:0 0 4px 0 #f00;
}